/node_modules
/yarn.lock
/package-lock.json
/reports/**/**/*.xml
/reports/**/**/*.png
/reports/**/**/*.log
/apps/**/*.apk
/apps/**/*.app
/allure-report
/report-ios-browserstack
/report-android-browserstack
/results-ios-local
/results-android-local
/logs
.env